@import "grid";

// Colors
$primaryColor: #EDCA5A !default;
$textColor: #000000 !default;

// Fonts
$primaryFont: "" !default;
$primaryFontWeight: 300 !default;

// Header
body {
    margin: 0;
    font-family: $primaryFont, Arial, Helvetica, sans-serif;
    font-weight: $primaryFontWeight;
    color: $textColor;
    &.topline{
    	border-top: 10px solid $primaryColor;
    }
}

#banner {
    width: 100vw;
    height: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primaryColor;
    color: $textColor;
    flex-direction: column;

    span:first-child {
        font-weight: 700;
    }
    span:last-child {
        font-style: italic;
    }
}
