<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          What is MinneHack?
        </h2>
        <h3 class="section-subheading text-muted">
          Only the largest hackathon in the Twin Cities.
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">24 Hours</h4>
        <p class="text-muted">
          Teams have 24 hours to identify a problem, implement
          a technical solution, and pitch to industry
          professionals.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Great Prizes</h4>
        <p class="text-muted">
          Thousands of dollars in prizes means good work
          gets rewarded. Better yet:
          <strong>
            each member
            of a winning team gets their own
            prize.
          </strong>
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Totally Free</h4>
        <p class="text-muted">
          We provide meals, transportation to and from
          select schools, swag, and an awesome experience!
          It's all entirely free as long as you're
          currently a student.
        </p>
      </div>
    </div>
    <div class="row text-center" style="padding-top: 40px;">
      <!-- Center the MLH partner section -->
      <div class="col-md-4" style="float: none; margin: auto"
           id="mlh-partnership">
        <a href="https://mlh.io/seasons/na-2017/events?utm_source=na-2017&utm_medium=TrustBadge&utm_campaign=na-2017&utm_content=yellow"
           target="_blank">
          <img src="/img/logos/mlh-logo-na.png" class="img-responsive">
        </a>
        <p class="section-subheading text-muted">
          MinneHack is a team member of Major League Hacking (MLH),
          a premier Hackathon community organization, and we're set
          to be better than ever!
        </p>
      </div>
    </div>
  </div>
</section>
