<section id="faq" class="bg-light-gray container-fluid">
  <h2 class="section-header">FAQ</h2>
  <ul id="faq-questions">
    <li>
      <h6>What is MinneHack?</h6>

      MinneHack is a hackathon that welcomes hackers from around the
      country &mdash; a 24-hour event where you can compete, create,
      and collaborate to make something amazing. If you make something
      outstanding, you can win prizes and recognition from our
      sponsors! Even if you don't win, we will be giving out swag from
      our sponsors during the event!
    </li>

    <li>
      <h6>Who hosts MinneHack?</h6>

      MinneHack is hosted by the University of Minnesota, Twin Cities
      chapter of the Association for Computing Machinery. If you have
      any questions about the event, you can contact us
      at <a href="mailto:acm@umn.edu">acm@umn.edu</a>, or use the
      contact form below.
    </li>

    <li>
      <h6>When is MinneHack?</h6>

	  MinneHack {{ site.data.schedule.year }} will start on Saturday, {{ site.data.schedule.month }} {{ site.data.schedule.startdate }}
	  at 6PM CST and run for 24 hours until Sunday, {{ site.data.schedule.month }} {{ site.data.schedule.enddate }} 6PM CST.
    </li>

    <li>
      <h6>Where is MinneHack?</h6>

      The Great Hall in <address>Coffman Memorial Union, University of
        Minnesota, 300 Washington Ave SE, Minneapolis, MN
        55455.</address>
    </li>

    <li>
      <h6>How do teams work?</h6>

      You can create your own team ahead of time if you'd like, or
      meet and greet new people and form a team at the event! Teams
      will consist of 1-4 undergraduate, graduate, or high school students
      of any skill level and any discipline, but all are judged on the same
      grounds, so the more the merrier!
    </li>

    <li>
      <h6>Can I work on something before the event and bring it to MinneHack?</h6>

      What you present at MinneHack must all be created within the 24
      hours of the event. However, feel free to brainstorm and bring
      your ideas!
    </li>

    <li>
      <h6>How do the prizes work?</h6>

      Prizes are doled out on a per-person basis. A winning team of 1
      member gets 1 prize. A winning team of 4 members gets 4 prizes!
      So there's nothing to lose for having a full team.
      <!-- INSERT PRIZES HERE LATER -->
    </li>

    <li>
      <h6>How much does MinneHack cost?</h6>

      Thanks to our wonderful sponsors, MinneHack
      is <strong>completely free!</strong> We will provide food,
      drinks, internet, entertainment, swag from our sponsors, and
      even a sleeping area, so all you
      have to worry about is the coding.
    </li>

    <li>
      <h6>What do I need to bring?</h6>

      You'll need to bring yourself and a computer! A more
      comprehensive list of things will be sent to you before the
      event, but we also recommend:

      <ul id="faq-supplies">
        <li>Phone</li>
        <li>Charging cables</li>
        <li>Hygiene products</li>
        <li>Blankets</li>
        <li>Medication</li>
      </ul>
    </li>

    <li>
      <h6>Why do you want my résumé?</h6>

      First and foremost, MinneHack is a recruiting event. Our
      sponsors have paid top dollar to see <em>you</em>, the hackers!
      So submit your resume, stop by the sponsorship booths, and talk
      to our mentors and judges! Even if you're not in the market for
      a job right now, you will be someday; what better way to start a
      conversation than at MinneHack?
    </li>

    <li>
      <h6>What's the internet situation like?</h6>

      This year we are able to provide both wired and wireless
      internet! We recommend you bring a device compatible with
      ethernet, as the wi-fi at our venue cannot account for the load
      of hackers we attract. We will provide ethernet cables. If you
      need a converter, we have a few available on first-come
      first-serve basis, but we recommend you bring your own.
    </li>

    <li>
      <h6>Will you be providing transportation?</h6>

      As the event approaches, we will let you know where we're sending busses.
	  If we aren't sending a bus your way, don't worry. We provide
	  reimbursement for travel expenses up to $100. Just be sure to hold on to
	  your receipts!
    </li>

    <li>
      <h6>What if I don't have enough experience to compete? Can I still attend?</h6>

      The most important thing is that you're there; have fun, and learn
	  something. Go ahead and register and make the most out of the experience.
	  It's completely free, so there's nothing to lose!
    </li>
  </ul>
</section>
