<!-- jQuery Version 1.11.0 -->
<script src="{{ "js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

<!-- Tether (tooltips) -->
<script src="{{ "js/tether.min.js" | prepend: site.baseurl }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ "js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Form Validation -->
<script src="{{ "js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>

<script src="{{ "js/forms.js" | prepend: site.baseurl }}"></script>
<script src="{{ "js/tshirts.js" | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "js/agency.js" | prepend: site.baseurl }}"></script>

<!-- Include FireBase script -->
<script src="{{ "js/firebase.js" | prepend: site.baseurl }}"></script>
