    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text" style="background-image: url(../img/logos/mhlogo.png); background-repeat: no-repeat; background-position: center center;">
                <!-- 
                <div class="intro-lead-in">The ACM of the UMN Twin Cities Presents MinneHack</div> -->
                <!-- <img class="center-block" src="../img/logos/minnehack-sml-yellow.png"/> -->
                <!-- <div style="border-bottom: solid 1px #fff; margin: 15px;"></div> -->
                <div class="intro-heading">It doesn't happen without you!</div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

