<article id="sponsorship-info" class="container">
  
  <section id="what-is-minnehack">
    <h2>What is MinneHack?</h2>
    <p>
      MinneHack is a regional hackathon &ndash; a software
      development competition. Most hackathons take place over a 24
      hour period and include any number of teams that are comprised
      of up to four students. Previous iterations of MinneHack
      (including our first annual hackathon, originally branded UHack)
      have attracted 200+ students from 14 colleges and 5 different
      states &ndash; making it the largest hackathon in the Twin
      Cities! These students consist of motivated software engineers
      &ndash; many of whom are eligible for recruiting.
    </p>
  </section>

  <section id="why-sponsor">
    <h2>Why sponsor?</h2>
    <p>
      MinneHack is a unique opportunity to connect with the most
      talented and passionate technical students from around the
      region.
    </p>
    <ul>
      <li>Recruit top MinneHack competitors</li>
      <li>Evangelize your products or API</li>
      <li>
        Interact with students face-to-face through judge and
        mentorship positions
      </li>
        <li>Support the development of the Midwest's tech community</li>
    </ul>
    
    <p>
      We also offer additional benefits based on sponsorship
      commitment.
    </p>
    <h3 class="text-center">Sponsorship Tiers</h3>
    <h5 class="text-center">
      Note: Each tier also gets all the perks of the tier(s) below it
    </h5>
    <ul>
      
      <li>
        <h4>Gold Sponsorship &mdash; $5,000 Minimum Commitment</h4>
        <ul>
          <li>Large logo featured on all MinneHack digital and print materials</li>
          <li>Organization summary featured in MinneHack attendee lanyard</li>
          <li>Exclusive product giveaway and announcement</li>
          <li>Option to book a booth (Starting September 1<sup>st</sup>, 2016)</li>
          <li>Official meal sponsor (First three gold level sponsors)</li>
        </ul>
      </li>
      
      <li>
        <h4>Silver Sponsorship &mdash; $3,000 Minimum Commitment</h4>
        <ul>
          <li>
            Medium-size logo featured on all MinneHack digital and
            print materials
          </li>
          <li>API or product feature</li>
          <li>Judge positions</li>
          <li>Option to book a booth (Starting November 1<sup>st</sup>, 2016)</li>
          <li>Official snack sponsor (first six silver level sponsors)</li>
        </ul>
      </li>

      <li>
        <h4>Bronze Sponsorship &mdash; $1,500 Minimum Commitment</h4>
        <ul>
          <li>Small logo featured on all MinneHack digital and print materials</li>
          <li>Organization blurb featured in MinneHack attendee lanyard</li>
          <li>Mentor positions</li>
          <li>Distribute branded goodies in event 'swag-bag'</li>
          <li>Résumé drop from attendees</li>
        </ul>
      </li>
      
    </ul>
    <p>
      MinneHack is a community event. Please do not hesitate to reach
      out to us if you are interested in contributions that do not fit
      the packages above.
    </p>
  </section>

  <section id="when-is-minnehack">
    <h2>When is MinneHack? What deadlines are there?</h2>
    <p>
      MinneHack 2017 starts on Saturday, January 28<sup>th</sup> at
      6:00PM and ends the following day (Sunday, January
      29<sup>th</sup>) at 6:00PM. In order to be fair to all sponsors
      we ask that any checks or payments are transmitted/postmarked by
      Friday, December 2<sup>nd</sup>. The schedule can be found
      <a href="{{ '#schedule' | prepend: site.baseurl }}">on our
      website</a>, and is subject to minor changes.
    </p>
  </section>

  <section id="who-hosts-minnehack">
    <h2>Who hosts MinneHack?</h2>
    <p>
      The University of Minnesota Twin Cities student chapter of the
      Association for Computing Machinery (ACM UMN). We are a student
      group on campus dedicated to building a more robust tech
      community &ndash; both strictly on campus and throughout the
      Twin Cities corporate world. ACM UMN also hosts the ACM
      International Collegiate Programming Competition (ICPC), an
      annual Software Design Competition (SDC), a semesterly LAN party
      hosted alongside UMN’s IEEE student chapter, and also hosts
      regular talks held by professors and company sponsors alike.
    </p>
  </section>
  
</article>
