<section id="volunteer">
  <h2 class="section-heading">Volunteer!</h2>

  <p>
    We're currently looking for volunteers to help with the setup and
    and administration of MinneHack.
  </p>
  <p>
    If you're interested in doing any of the following, please sign up
    and help us make a great event even better!
  </p>

  <ul class="text-left">
    <li>Event setup &mdash; preparing the hacking areas, moving furniture, etc.</li>
    <li>Food prep for breakfast, lunch, and dinner</li>
    <li>Event teardown &mdash; doing the setup stuff, but in reverse</li>
  </ul>

  <p>
    Plus, any volunteers will get a special <strong>MinneHack
    Volunteer T-shirt!</strong>
  </p>

  <a href="https://docs.google.com/forms/d/e/1FAIpQLSezxGju1oxpCKyhUFKm6qF8j2Hqb7MevlGAjkc-mHk0UOL28Q/viewform?usp=sf_link">
    <button class="btn btn-xl">
      Volunteer for MinneHack
    </button>
  </a>

  <p>
    If there's some other way you think you can contribute, shoot us an email,
    or contact us with the contact form below!
  </p>
</section>
