@import "acm/src/include/mixins";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
$primaryFont: "Open Sans";
$primaryColor: #fec503;

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

//
.navbar {
    a {
        text-decoration: none;
    }
    ul li {
        display: inline;
    }
    background-color: black;
    ul.title.links {
        margin: 0;
        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        box-sizing: border-box;
        text-align: center;
    }
    table {
        width: 100%;
        h1 a {
            color: $primaryColor;
        }
        @media (max-width: 768px) {
            td {
                display: block;
                &.title {
                    text-align: center;
                }
                &.linkcell {
                    text-align: center;
                    ul {
                        text-align: center;
                        padding: 0;
                        display: block !important;
                    }
                }
            }
            margin-bottom: 40px;
        }
        td.linkcell{
            text-align: right;
            ul.page.links {
                display: inline;
                li {
                }
            }
        }
    }
    ul.links a {
        margin: 0 5px;
        color: $primaryColor;
        padding: 10px 18px;
        &.btn {
            background-color: $primaryColor;
            border-radius: 6px;
            color: black;
            &:hover {
                background-color: lighten($primaryColor, 10%);
            }
        }
    }
}

.masthead {
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-position: center;
    .overlay {
        $mastheadPadding: 80px;
        padding-top: $mastheadPadding;
        padding-bottom: $mastheadPadding;
        background-color: rgba(lighten(black, 15%), 0.85);
        text-align: center;
        margin-bottom: $mastheadPadding * 0.5;
        color: lighten($primaryColor, 10%);
        #title {
            font-weight: 700;
            font-size: 3.8em;
            margin: 0;
        }
        #tagline {
            font-weight: 300;
            font-style: italic;
            margin: 0;
        }
        #dates {
            font-weight: 400;
            margin: 0;
        }
    }
}

.row#faq {
    div.box {
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid darken($primaryColor, 10%);
        h2 {
            margin: 0;
            padding: 10px;
            font-weight: 400;
            border-top-left-radius: 10px;
            background-color: lighten($primaryColor, 25%);
        }
        div {
            margin: 0;
            padding: 10px;
            border-bottom-right-radius: 10px;
            background-color: lighten($primaryColor, 45%);
            p {
                margin: 8px;
            }
        }
    }
}

main {
	flex-grow: 1;
}

footer {
    background-color: lighten($primaryColor, 40%);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 60px;
    text-align: center;
    a {
        @include colored-link(1px, $textColor);
    }
}

.sponsors {
    h2 {
        text-align: left;
    }
    p {
        text-align: justify;
    }
}

.no-bullets { list-style: none; }

#contact-form, .sponsorship {
	display: flex;
	flex-direction: column;
}

.sponsorship-info {
	display: flex;
	flex-direction: row;
}

.sponsor-logos > img { width: 15em; }
.sponsor-perks { flex-grow: 1; }

@media (max-width: 700px) {
	.sponsorship-info { flex-wrap: wrap; }
}
