@import "acm/include/mixins";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
$primaryFont: "Open Sans";
$primaryColor: #fec503;
//
.masthead {
    $mastheadPadding: 80px;
    padding-top: $mastheadPadding;
    padding-bottom: $mastheadPadding;
    background-color: lighten($primaryColor, 30%);
    text-align: center;
    margin-bottom: $mastheadPadding * 0.5;
    #title {
        font-weight: 700;
        font-size: 3.8em;
        margin: 0;
    }
    #tagline {
        font-weight: 300;
        font-style: italic;
        margin: 0;
    }
    #dates {
        font-weight: 400;
        margin: 0;
    }
}

.row#faq {
    div.box {
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid darken($primaryColor, 10%);
        h2 {
            margin: 0;
            padding: 10px;
            font-weight: 400;
            border-top-left-radius: 10px;
            background-color: lighten($primaryColor, 25%);
        }
        div {
            margin: 0;
            padding: 10px;
            border-bottom-right-radius: 10px;
            background-color: lighten($primaryColor, 45%);
            p {
                margin: 8px;
            }
        }
    }
}

footer {
    margin-top: 40px;
    text-align: center;
    a {
        @include colored-link(1px,
        $textColor);
    }
}