<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }} - {% endif %}MinneHack 2019</title>

    <link rel="stylesheet" href="/main.css" />
</head>

<body>
    {% block navbar %}{% endblock %}
	<main>
    	{% block content %}{% endblock %}
	</main>
    <footer>
        <p id="footer-links">
            <a href="mailto:acm@umn.edu" target="_blank" rel="noopener" class="nocolorlink">
                <i class="fa fa-fw fa-envelope"></i>
            </a>
            <a href="https://facebook.com/minnehack" target="_blank" rel="noopener" class="nocolorlink">
                <i class="fa fa-fw fa-facebook-square"></i>
            </a>
            <a href="https://twitter.com/minnehackumn" target="_blank" rel="noopener" class="nocolorlink">
                <i class="fa fa-fw fa-twitter"></i>
            </a>
            <a href="https://github.com/minnehack" target="_blank" rel="noopener" class="nocolorlink">
                <i class="fa fa-fw fa-github"></i>
            </a>
        </p>
        <p style="margin: 0;">Organized by <a href="https://acm.umn.edu">ACM UMN</a>.</p>
        <p>No javascript was used in the production of this website.</p>
    </footer>
</body>

</html>
