<!DOCTYPE html>

{% if page.title %}
{% set_global _page_title = page.title ~ " - " %}
{% else %}
{% set_global _page_title = "" %}
{% endif %}

{% set full_title = _page_title ~ "MinneHack " ~ config.extra.year %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% block meta %}{% endblock %}

    <title>{{ full_title }}</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/main.css" />
</head>

<body>
    <div id="banner">
        <span>MinneHack 2024 has unfortunately been cancelled due to budget constraints</span>
        <span>Keep an eye on the <a href="https://discord.gg/V4YVGdcv">discord</a> for future news</span>
    </div>
    {% block navbar %}{% endblock %}
	<main>
    	{% block content %}{% endblock %}
	</main>
    <footer>
        <p id="footer-links">
            <a href="mailto:acm@umn.edu" target="_blank" rel="noopener" class="nocolorlink">
                <i class="fa fa-fw fa-envelope"></i>
            </a>
            <a href="https://facebook.com/minnehack" target="_blank" rel="noopener" class="nocolorlink">
                <i class="fa fa-fw fa-facebook-square"></i>
            </a>
            <a href="https://twitter.com/minnehackumn" target="_blank" rel="noopener" class="nocolorlink">
                <i class="fa fa-fw fa-twitter"></i>
            </a>
            <a href="https://github.com/minnehack" target="_blank" rel="noopener" class="nocolorlink">
                <i class="fa fa-fw fa-github"></i>
            </a>
        </p>
        <p style="margin: 0;">Organized by <a href="https://acm.umn.edu">ACM UMN</a>.</p>
    </footer>
</body>

</html>
