<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% block meta %}{% endblock %}
    <title>{% if page.title %}{{ page.title }} - {% endif %}MinneHack {{ config.extra.year }}</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/main.css" />
</head>

<body>

    {% block navbar %}{% endblock %}
	<main>
    	{% block content %}{% endblock %}
	</main>
    <footer>
        <p id="footer-links">
            <a href="mailto:acm@umn.edu" target="_blank" rel="noopener" class="nocolorlink">
                <i class="fa fa-fw fa-envelope"></i>
            </a>
            <a href="https://facebook.com/minnehack" target="_blank" rel="noopener" class="nocolorlink">
                <i class="fa fa-fw fa-facebook-square"></i>
            </a>
            <a href="https://twitter.com/minnehackumn" target="_blank" rel="noopener" class="nocolorlink">
                <i class="fa fa-fw fa-twitter"></i>
            </a>
            <a href="https://github.com/minnehack" target="_blank" rel="noopener" class="nocolorlink">
                <i class="fa fa-fw fa-github"></i>
            </a>
        </p>
        <p style="margin: 0;">Organized by <a href="https://acm.umn.edu">ACM UMN</a>.</p>
    </footer>
    <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/seasons/2022/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2022-season&utm_content=yellow" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2022/mlh-trust-badge-2022-yellow.svg" alt="Major League Hacking 2022 Hackathon Season" style="width:100%"></a>
</body>

</html>
