{% extends "layout.html" %}
{% import "includes.html" as includes %}

{% block meta %}
<meta http-equiv="refresh" content="300">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ full_title }}">
{% endblock %}

{% block navbar %}
	{% if page.extra.navbar %}{% set style = page.extra.navbar %}{% else %}{% set style = "page" %}{% endif %}
	{{ includes::navbar(style=style) }}
{% endblock %}

{% block content %}
	<div class="container">
    	{{ page.content | safe }}
    </div>
{% endblock %}
