{% extends "page.html" %}

{% block meta %}
<meta property="og:type" content="website">
<meta property="og:title" content="{{ full_title }}">
<meta property="og:image" content="/images/logo.png">
<meta property="og:url" content="{{ current_url }}">
<!-- the magic -->
<meta http-equiv="refresh" content="1; url={{ page.extra.url }}">
{% endblock meta %}

{% block content %}
	<div class="container">
	<p><a href="{{ page.extra.url }}">Click here</a> if you are not redirected automatically.</p>
	<!-- <p>Registration will be open soon!</p> -->
    </div>
{% endblock %}
