<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }} - {% endif %}MinneHack 2019</title>

    <link rel="stylesheet" href="css/main.css" />
</head>

<body>
    <div class="navbar">
        <div class="container">
            {% if page.navbar == "title" %}
                <ul class="title links">
                    {% include links.html %}
                </ul>
            {% else if page.navbar == "page" %}
                <table>
                    <tr>
                        <td class="title">
                            <h1><a href="/">MinneHack 2019</a></h1>
                        </td>
                        <td class="linkcell">
                            <ul class="page links">
                                {% include links.html %}
                            </ul>
                        </td>
                    </tr>
                </table>
            {% endif %}
        </div>
    </div>
	<main>
    	{{ content }}
	</main>
    <footer>
        <p style="margin: 0;">Organized by <a href="https://acm.umn.edu">ACM UMN</a>.</p>
        <small>No JavaScript was used in the production of this website.</small>
    </footer>
</body>

</html>
